
/* The code on lines 3-7 makes the background of the header black and the text of the title of the webpage white. Change this to match what you want for your website! */
header {
    background-color: red;
    color: lavender;
    padding: 128px 16px;
}

img{
  height: 300px;

}
